@model CaseViewModel
@{
    var clients = ViewBag.Clients;
    var assignee = ViewBag.Assignee;
}


<form id="creation-form" asp-controller="Case" asp-action="SaveClient" method="post" asp-antiforgery="true">
    <div class="form-container" style="border: none;">
        <div class="form-grid">
            <div class="item-container">
                <label for="estimatedDaysToEnd">Предположительное количество дней до завершения</label>
                <div class="input-container">
                    <input id="estimatedDaysToEnd" name="EstimatedDaysToEnd" type="number" autocomplete="off" asp-for=EstimatedDaysToEnd>
                </div>
            </div>
            <div class="item-container">
                <label for="customer">Заказчик</label>
                <div class="client-type">
                    <div class="input-container">
                        <select id="customer" name="Customer" asp-for=Customer asp-items="clients"></select>
                        <span class="text-validation" asp-validation-for="Customer"></span>
                    </div>
                </div>
            </div>
            <div class="item-container">
                <label for="assignee">Исполнитель</label>
                <div class="client-type">
                    <div class="input-container">
                        <select id="assignee" name="Assignee" asp-for=Assignee asp-items="assignee"></select>
                    </div>
                </div>
            </div>
            <div class="item-container">
                <label for="description">Описание</label>
                <div class="input-container">
                    <input id="description" name="Description" type="description" autocomplete="off" asp-for=Description>
                    <span class="text-validation" asp-validation-for="Description"></span>
                </div>
            </div>
        </div>
    </div>
</form>
