@model int
@{
    int stepNumber = Model;
    var isCreateFormActive = false;

    if (ViewData["IsCreateFormActive"] != null)
        isCreateFormActive = (bool)ViewData["IsCreateFormActive"];

    ViewData["Title"] = "Новое дело";
    ViewData["Page"] = "Cases";
}


<div class="create-case">
    <h2>Новое дело</h2>

    @await Html.PartialAsync("_Form", model: null)

    <button class="next-step" type="submit" form="creation-form">Создать</button>
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/CreateCase.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/CreateCase.min.css?v = @DateTime.Now.Ticks">
}

@await Html.PartialAsync("_ModelValidation")

<script src="~/Scripts/StepManagement.js"></script>
<script src="~/Scripts/SubmitValidationManager.js"></script>
