@model ForgotPasswordViewModel


<script src="~/Scripts/Loader.js"></script>

<title>Восстановление пароля</title>
<div class="reminder">
    <div class="form-container">
        <div class="logo">
            <img src="/images/logo-blue.png" alt="legalex">
            <h2>Восстановление пароля</h2>
        </div>
        <div class="reset-form">
            <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                <div>
                    <label class="email-label" for="email">Электронная почта</label>
                    <div class="email">
                        <input id="email" name="Email" type="text" autocomplete="on" asp-for=Email>
                        <span class="text-validation" asp-validation-for=Email></span>
                    </div>
                </div>
                <div>
                    <button type="submit">Сбросить пароль</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loader" class="loader">
    <div class="loader-animation"></div>
</div>

@await Html.PartialAsync("_ModelValidation")

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_ForgotPassword.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_ForgotPassword.min.css?v = @DateTime.Now.Ticks">
}
