<div class="header">
    <div class="container">
        <div class="header-logo"></div>
        <div class="info">
            <div class="notification">
                <a href="https://t.me/Lega_Lex"
                   target={'_blank'}
                   rel="noreferrer">
                    <img src="/images/notification.svg"
                         alt="notification" />
                </a>
            </div>
            <div class="contacts">
                <a href="tel:+375447905525" class="number">
                    +375 (44) 790-55-25
                </a>
                <div class="social">
                    <a href="https://t.me/Lega_Lex"
                       target={'_blank'}
                       rel="noreferrer">
                        <img src="/images/telegram.svg"
                             alt="telegram" />
                    </a>
                    <a href="viber://chat?number=%2B375447905525"
                       target={'_blank'}
                       rel="noreferrer"
                       className="relative h-8 w-8 rounded-full border border-white hover:bg-blue_light/50">
                        <img src="/images/viber.svg"
                             alt="viber"
                             className="absolute left-2/4 top-2/4 h-5 w-5 -translate-x-2/4 -translate-y-2/4" />
                    </a>
                    <a href="https://wa.me/375447905525"
                       target={'_blank'}
                       rel="noreferrer"
                       className="relative h-8 w-8 rounded-full border border-white hover:bg-blue_light/50">
                        <img src="/images/whatsapp.svg"
                             alt="whatsapp"
                             className="absolute left-2/4 top-2/4 h-5 w-5 -translate-x-2/4 -translate-y-2/4" />
                    </a>
                    <a href="https://www.instagram.com/m/lega.lex/"
                       target={'_blank'}
                       rel="noreferrer"
                       className="relative h-8 w-8 rounded-full border border-white hover:bg-blue_light/50">
                        <img src="/images/instagram.svg"
                             alt="instagram"
                             className="absolute left-2/4 top-2/4 h-5 w-5 -translate-x-2/4 -translate-y-2/4" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_Header.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_Header.min.css?v = @DateTime.Now.Ticks">
}
