<script src="~/Scripts/Loader.js"></script>

<title>Восстановление пароля</title>
<div class="notification">
    <div class="container">
        <div class="logo">
            <img src="/images/logo-blue.png" alt="legalex">
            <h2>Письмо с ссылкой на сброс пароля отправлено.</h2>
        </div>
        <a class="to-home" asp-controller="Account" asp-action="Login">На форму входа</a>
    </div>
</div>

<div id="loader" class="loader">
    <div class="loader-animation"></div>
</div>

@await Html.PartialAsync("_ModelValidation")

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_PasswordSended.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_PasswordSended.min.css?v = @DateTime.Now.Ticks">
}
