@model ResetPasswordViewModel


<title>Изменение пароля</title>
<div class="reset">
    <div class="form-container">
        <div class="logo">
            <img src="/images/logo-blue.png" alt="legalex">
            <h2>Изменение пароля</h2>
        </div>
        <div class="reset-form">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div>
                    <label class="password-label" for="password">Новый пароль</label>
                    <div class="password">
                        <input name="NewPassword" type="password" autocomplete="off" asp-for=NewPassword>
                        <span class="text-validation" asp-validation-for=NewPassword></span>
                    </div>
                </div>
                <div>
                    <label class="password-label" for="password">Повторите пароль</label>
                    <div class="password">
                        <input name="RepeatPassword" type="password" autocomplete="off" asp-for=RepeatPassword>
                        <span class="text-validation" asp-validation-for=RepeatPassword></span>
                    </div>
                </div>
                <div>
                    <button type="submit">Изменить пароль</button>
                </div>
                <input hidden name="Email" asp-for=Email value="@Model.Email">
            </form>

            @*  <p class="mt-10 text-center text-sm text-gray-500">
            Not a member?
            <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14 day free trial</a>
            </p> *@
        </div>
    </div>
</div>

@await Html.PartialAsync("_ModelValidation")

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_ResetPassword.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_ResetPassword.min.css?v = @DateTime.Now.Ticks">
}
