.chats {
    width: 100%;
    padding: 1rem 0;
}

.header-panel {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

thead th {
    background-color: rgba(23, 103, 179, 0.8);
    color: white;
    padding: 10px 15px;
}

tbody tr {
    background-color: white;
    cursor: pointer;
    transition: background 0.3s;
}

tbody tr:hover {
    background-color: #dbdbdb;
}

tbody td {
    padding: 10px;
}

.status-indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    display: inline-block;
}

.status-indicator.online {
    background-color: green;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    padding: 8px 12px;
    margin: 0 4px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

.pagination a.active {
    background-color: rgba(23, 103, 179, 0.8);
    color: white;
}
