@charset "UTF-8";
body {
  margin: 0 auto;
}

.text-validation {
  color: #d72b2b;
}

.reset {
  background-color: #efefef;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset .form-container {
  background-color: white;
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.reset .form-container .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.reset .form-container .logo img {
  display: block;
  width: 4rem;
}
.reset .form-container .logo h2 {
  margin-top: 1.5rem;
  text-align: center; /* Текст по центру */
  font-size: 28px; /* Размер шрифта 24px (1.5rem) */
  font-weight: 600; /* Полужирный шрифт */
  line-height: 36px; /* Межстрочное расстояние 36px (2.25rem) */
  color: #111827; /* Тёмно-серый цвет текста */
}
@media (min-width: 640px) {
  .reset .form-container .logo {
    width: 100%; /* Элемент занимает всю доступную ширину */
    max-width: 384px; /* Максимальная ширина — 384px (24rem) */
  }
}
.reset .form-container .reset-form {
  margin-top: 2.5rem;
}
@media (min-width: 640px) {
  .reset .form-container .reset-form {
    width: 100%;
    max-width: 384px;
  }
}
.reset .form-container .reset-form form .password-label {
  display: block; /* Элемент становится блочным */
  font-size: 20px;
  font-weight: 500; /* Средний вес шрифта */
  line-height: 1.625rem;
  color: #111827;
}
.reset .form-container .reset-form form .password {
  margin-top: 0.5rem;
}
.reset .form-container .reset-form form .password input {
  display: block; /* Элемент становится блочным */
  width: 100%; /* Ширина 100% */
  border-radius: 6px; /* Радиус закругления 6px (0.375rem) */
  border: 1px solid #9CA3AF;
  padding-top: 6px; /* Отступ сверху 6px (0.375rem) */
  padding-bottom: 6px; /* Отступ снизу 6px (0.375rem) */
  color: #111827; /* Тёмно-серый цвет текста */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Маленькая тень */
  position: relative; /* Для использования с кольцевой границей */
  outline: none;
}
.reset .form-container .reset-form form .password input::placeholder {
  color: #9CA3AF; /* Цвет текста заполнителя (светло-серый) */
}
.reset .form-container .reset-form form .password input:focus {
  border-color: #1767b3;
  box-shadow: 0 0 0 2px #1767b3; /* Цвет кольца при фокусе */
}
@media (min-width: 640px) {
  .reset .form-container .reset-form form .password input {
    font-size: 14px; /* Размер шрифта 14px (0.875rem) */
    line-height: 26px; /* Межстрочное расстояние 26px (1.625rem) */
  }
}
.reset .form-container .reset-form form button {
  display: flex; /* Флекс-контейнер */
  width: 100%; /* Ширина 100% */
  justify-content: center; /* Центрирует содержимое по горизонтали */
  border-radius: 6px; /* Радиус закругления 6px */
  border: none;
  background-color: #0d3b66; /* Тёмно-синий цвет фона */
  padding-left: 12px; /* Отступ слева 12px */
  padding-right: 12px; /* Отступ справа 12px */
  padding-top: 6px; /* Отступ сверху 6px */
  padding-bottom: 6px; /* Отступ снизу 6px */
  font-size: 14px; /* Размер шрифта 14px */
  font-weight: 600; /* Полужирный шрифт */
  line-height: 26px; /* Межстрочное расстояние 26px */
  color: white; /* Белый цвет текста */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); /* Маленькая тень */
  font-size: 16px;
  font-weight: 500; /* Средний вес шрифта */
}
.reset .form-container .reset-form form button:hover {
  cursor: pointer;
  background-color: #1767b3; /* Цвет фона при наведении (светло-синий) */
}
.reset .form-container .reset-form form > * + * {
  margin-top: 24px; /* Пространство между элементами 24px (1.5rem) */
}
