@charset "UTF-8";
.employees {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}
.employees h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}
.employees table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-radius: 12px;
  border-collapse: separate; /* Используем separate для сохранения закругления */
  border-spacing: 0; /* Убираем расстояние между ячейками */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.employees table thead th {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: rgba(23, 103, 179, 0.8);
  border-top: 1px solid #ddd;
  overflow: auto;
}
.employees table tr th:first-child, .employees table tr td:first-child {
  border-left: 1px solid #ddd;
}
.employees table tr th:last-child, .employees table tr td:last-child {
  border-right: 1px solid #ddd;
}
.employees table thead tr th:first-child {
  border-radius: 12px 0 0 0; /* Закругление углов */
}
.employees table thead tr th:last-child {
  border-radius: 0 12px 0 0; /* Закругление углов */
}
.employees table tbody tr {
  background-color: white;
  max-height: 4rem;
}
.employees table tbody tr:hover {
  cursor: pointer;
  background-color: #dbdbdb;
}
.employees table tbody tr.m-panel td {
  position: relative;
}
.employees table tbody tr.m-panel td .panel {
  position: absolute;
  top: 0;
  right: -4rem;
  width: 3rem;
  height: 3rem;
  background-size: 2.5rem;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/Images/inspect.svg");
  border-radius: 5px;
  animation: appearing 0.5s;
}
.employees table tbody tr.m-panel td .panel:hover {
  background-color: rgba(173, 216, 230, 0.3);
}
@keyframes appearing {
  0% {
    opacity: 0;
    right: -2.5rem;
  }
  100% {
    opacity: 1;
    right: -4rem;
  }
}
.employees table tbody td {
  text-align: left;
  border: none;
  padding: 1rem;
  font-size: 14px;
  vertical-align: top;
}
.employees table tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}
.employees table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 12px; /* Закругление углов */
}
.employees table tbody tr:last-child td:last-child {
  border-radius: 0 0 12px 0; /* Закругление углов */
}
.employees .pagination {
  display: inline-block;
}
.employees .pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.employees .pagination {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 0.25rem;
}
.employees .pagination a {
  border-radius: 5px;
}
.employees .pagination a:hover:not(.active) {
  background-color: #dbdbdb;
}
.employees .pagination a.active {
  background-color: rgba(23, 103, 179, 0.8);
  color: white;
}
.employees .hint {
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 600;
}
.employees .loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 50;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}
.employees .loader-animation {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  border-width: 8px;
  border-style: solid;
  border-color: #4282bf;
  border-top-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
