@charset "UTF-8";
.employees {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 1rem 0;
}
.employees h2 {
  font-weight: 600;
  margin-bottom: 2rem;
}
.employees table {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  border-radius: 12px;
  border-collapse: separate; /* Используем separate для сохранения закругления */
  border-spacing: 0; /* Убираем расстояние между ячейками */
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.employees table thead th {
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: rgba(23, 103, 179, 0.8);
  border-top: 1px solid #ddd;
}
.employees table tr th:first-child, .employees table tr td:first-child {
  border-left: 1px solid #ddd;
}
.employees table tr th:last-child, .employees table tr td:last-child {
  border-right: 1px solid #ddd;
}
.employees table thead tr th:first-child {
  border-radius: 12px 0 0 0; /* Закругление углов */
}
.employees table thead tr th:last-child {
  border-radius: 0 12px 0 0; /* Закругление углов */
}
.employees table tbody tr {
  background-color: white;
}
.employees table tbody tr:hover {
  cursor: pointer;
  background-color: #dbdbdb;
}
.employees table tbody td {
  text-align: left;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}
.employees table tbody tr:last-child td {
  border-bottom: 1px solid #ddd;
}
.employees table tbody tr:last-child td:first-child {
  border-radius: 0 0 0 12px; /* Закругление углов */
}
.employees table tbody tr:last-child td:last-child {
  border-radius: 0 0 12px 0; /* Закругление углов */
}
.employees .hint {
  display: block;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-weight: 600;
}
