﻿ /* Reset styles */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

* {
    box-sizing: border-box;
}

body {
    background-color: #efefef;
}

.main-order {
    display: flex;
}

.main-content {
    width: 100%;
    height: auto;
    margin-left: 1rem;
    /*background-color: white;*/
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* Links styles */
a {
    color: inherit;
    text-decoration: none;
}

    a:hover {
        text-decoration: underline;
    }

/* Body styles */
body {
    line-height: 1;
    font-size: 20px;
}

/* General styles */
main {
    margin: 0 auto;
    padding: 2rem 0;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.text-validation {
    color: #d72b2b;
}

@media (min-width: 640px) {
    .container {
        max-width: 480px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 640px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}

footer {
}
