@model LegalViewModel


<div class="form-container">
    <div class="form-grid">
        <div class="item-container">
            <label for="organizationName">Наименование организации*</label>
            <div class="input-container">
                <input id="organizationName" name="OrganizationName" type="organizationName" autocomplete="off" asp-for=OrganizationName>
                <span class="text-validation" asp-validation-for="OrganizationName"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="legalAddress">Юридический адрес*</label>
            <div class="input-container">
                <input id="legalAddress" name="LegalAddress" type="legalAddress" autocomplete="off" asp-for=LegalAddress>
                <span class="text-validation" asp-validation-for="LegalAddress"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="postalAddress">Почтовый адрес (если отличается от юридического)</label>
            <div class="input-container">
                <input id="postalAddress" name="PostalAddress" type="postalAddress" autocomplete="off" asp-for=PostalAddress>
            </div>
        </div>
        <div class="item-container">
            <label for="legalID">УНП (или иной идентификатор)*</label>
            <div class="input-container">
                <input id="legalID" name="LegalID" type="legalID" autocomplete="off" asp-for=LegalID>
                <span class="text-validation" asp-validation-for="LegalID"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="bankAccountNumber">Расчётный счёт*</label>
            <div class="input-container">
                <input id="bankAccountNumber" name="BankAccountNumber" type="bankAccountNumber" autocomplete="off" asp-for=BankAccountNumber>
                <span class="text-validation" asp-validation-for="BankAccountNumber"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="bankName">Название банка*</label>
            <div class="input-container">
                <input id="bankName" name="BankName" type="bankName" autocomplete="off" asp-for=BankName>
                <span class="text-validation" asp-validation-for="BankName"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="bankAddress">Адрес банка*</label>
            <div class="input-container">
                <input id="bankAddress" name="BankAddress" type="bankAddress" autocomplete="off" asp-for=BankAddress>
                <span class="text-validation" asp-validation-for="BankAddress"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="bankIdenticationCode">БИК (банковский идентификационный код)*</label>
            <div class="input-container">
                <input id="bankIdenticationCode" name="BankIdenticationCode" type="bankIdenticationCode" autocomplete="off" asp-for=BankIdenticationCode>
                <span class="text-validation" asp-validation-for="BankIdenticationCode"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="positionHeld">Занимаемая должность*</label>
            <div class="input-container">
                <input id="positionHeld" name="PositionHeld" type="positionHeld" autocomplete="off" asp-for=PositionHeld>
                <span class="text-validation" asp-validation-for="PositionHeld"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="powers">На основании чего действует*</label>
            <div class="input-container">
                <input id="powers" name="Powers" type="powers" autocomplete="off" asp-for=Powers>
                <span class="text-validation" asp-validation-for="Powers"></span>
            </div>
        </div>
    </div>
</div>
