@model PersonViewModel


<div class="form-container">
    <div class="form-grid">
        <div class="item-container">
            <label for="dateOfBirth" class="dateOfBirth-label">Дата рождения</label>
            <div class="input-container">
                <input id="dateOfBirth" name="DateOfBirth" type="date" autocomplete="off" asp-for=DateOfBirth>
            </div>
        </div>
        <div class="item-container">
            <label for="passportNumber" class="passportNumber-label">Серия и номер документа удостоверяющего личность*</label>
            <div class="input-container">
                <input id="passportNumber" name="PassportNumber" type="text" autocomplete="off" asp-for=PassportNumber>
                <span class="text-validation" asp-validation-for="PassportNumber"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="issuingAuthority" class="issuingAuthority-label">Кем выдан*</label>
            <div class="input-container">
                <input id="issuingAuthority" name="IssuingAuthority" type="text" autocomplete="off" asp-for=IssuingAuthority>
                <span class="text-validation" asp-validation-for="IssuingAuthority"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="issueDate" class="issueDate-label">Дата выдачи</label>
            <div class="input-container">
                <input id="issueDate" name="IssueDate" type="date" autocomplete="off" asp-for=IssueDate>
            </div>
        </div>
        <div class="item-container">
            <label for="taxIdentificationNumber" class="taxIdentificationNumber-label">Идентификационный номер (при наличии)</label>
            <div class="input-container">
                <input id="taxIdentificationNumber" name="TaxIdentificationNumber" type="text" autocomplete="off" asp-for=TaxIdentificationNumber>
                <span class="text-validation" asp-validation-for="TaxIdentificationNumber"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="registrationAddress" class="registrationAddress-label">Адрес регистрации*</label>
            <div class="input-container">
                <input id="registrationAddress" name="RegistrationAddress" type="text" autocomplete="off" asp-for=RegistrationAddress>
                <span class="text-validation" asp-validation-for="RegistrationAddress"></span>
            </div>
        </div>
        <div class="item-container">
            <label for="residentialAddress" class="residentialAddress-label">Адрес проживания (если отличается от адреса регистрации)</label>
            <div class="input-container">
                <input id="residentialAddress" name="ResidentialAddress" type="text" autocomplete="off" asp-for=ResidentialAddress>
            </div>
        </div>
    </div>
</div>
