@model CaseViewModel
@{
    var isCreateFormActive = (bool)ViewData["IsCreateFormActive"];
}


@if (!isCreateFormActive)
{
    <span class="case-question">Хотите добавить дело клиенту?</span>
    <a class="create-case" asp-controller="Client" asp-action="StepThree" asp-route-isCreateFormActive="@true">+</a>
}
else
{
    <h1>Создание дела</h1>
    <form id="creation-form" asp-controller="Client" asp-action="SaveClient" method="post">
        <div class="form-container" style="border: none;">
            <div class="form-grid">
                <div class="item-container">
                    <label for="estimatedDaysToEnd">Предположительная дата окончания</label>
                    <div class="input-container">
                        <input id="estimatedDaysToEnd" name="EstimatedDaysToEnd" type="estimatedDaysToEnd" autocomplete="off" asp-for=EstimatedDaysToEnd>
                    </div>
                </div>
                <div class="item-container">
                    <label for="customer">Заказчик</label>
                    <div class="input-container">
                        <input id="customer" name="Customer" type="customer" autocomplete="off" asp-for=Customer>
                        <span class="text-validation" asp-validation-for="Customer"></span>
                    </div>
                </div>
                <div class="item-container">
                    <label for="assignee">Исполнитель</label>
                    <div class="input-container">
                        <input id="assignee" name="Assignee" type="assignee" autocomplete="off" asp-for=Assignee>
                    </div>
                </div>
                <div class="item-container">
                    <label for="description">Описание</label>
                    <div class="input-container">
                        <input id="description" name="Description" type="description" autocomplete="off" asp-for=Description>
                        <span class="text-validation" asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
