@{
    var profile = ViewData["ShortProfile"] as ShortProfileViewModel;
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legalex | @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>
    @* <script src="~/Scripts/PresenceTracker.js"></script>
    <script src="~/Scripts/Loader.js"></script> *@
</head>
<body>
    @await Html.PartialAsync("_Header")

    <main>
        @await Html.PartialAsync("_FunctionalPanel", profile)
        <div class="main-content">
            @RenderBody()
        </div>
    </main>

    <div id="loader" class="loader">
        <div class="loader-animation"></div>
    </div>
</body>
</html>
