@model LoginViewModel


<script src="~/Scripts/Loader.js"></script>

<title>Вход в аккаунт</title>
<div class="login">
    <div class="form-container">
        <div class="logo">
            <img src="/images/logo-blue.png" alt="legalex">
            <h2>Войдите в свой аккаунт</h2>
        </div>
        <div class="login-form">
            <form asp-controller="Account" asp-action="Login" method="post">
                <div>
                    <label for="email" class="email-label">Электронная почта</label>
                    <div class="email">
                        <input id="email" name="Email" type="text" autocomplete="on" asp-for=Email>
                        <span class="text-validation" asp-validation-for="Email"></span>
                    </div>
                </div>
                <div>
                    <div class="password-container">
                        <label for="password" class="password-label">Пароль</label>
                        <div class="forgot-password">
                            <a asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a>
                        </div>
                    </div>
                    <div class="password">
                        <input id="password" name="Password" type="password" autocomplete="current-password" asp-for=Password>
                        <span class="text-validation" asp-validation-for="Password"></span>
                    </div>
                </div>
                <div>
                    <button type="submit">Войти</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="loader" class="loader">
    <div class="loader-animation"></div>
</div>

@await Html.PartialAsync("_ModelValidation")

@if (Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development")
{
    <link rel="stylesheet" href="~/Styles/_Login.css">
}
else
{
    <link rel="stylesheet" href="~/Styles/_Login.min.css?v = @DateTime.Now.Ticks">
}
